body{
    overflow-x: hidden;
}
#mainMap>#map{
    height: 200px;
    width: 100%;
    border-bottom: 5px solid white;
    -webkit-box-shadow: 10px 10px 24px -2px rgba(169,169,169,1);
    -moz-box-shadow: 10px 10px 24px -2px rgba(169,169,169,1);
    box-shadow: 10px 10px 24px -2px rgba(169,169,169,1);
}
#singleMap>#map{
    height: 400px;
}
.content-wrapper{
    width: 100%;
    max-width: 1280px;
    display: block;
    margin: 0 auto;
}
#tagList{
    max-height: 160px;
    overflow-y: scroll;
}
 #heroImg{
    width: 100%;
    margin-top: -20px;
} 
#startDate, #endDate{
   width : 177px;
 }
.cartEmblem{
    color: white;
    display: inline-block;
    height: 25px;
    width: 25px;
    margin-top: 25px;
    margin-left: 10px;
    font-size: 21px;
    line-height: 25px;
    text-align: center;
    border-radius:50%;
    background-color: RGBA(63, 176, 192, 1.00);
}
#input-select {
    width: 37px; 
    height: 34px;
    float: left;
 }

 textarea{
     resize: none;
     height: 200px;
     background-color: #e8e8ee;
 }
 input{
     background-color: #e8e8ee;
 }   
.form-rounded {
    border-radius: 5px;
}
.form-heading{
    display: inline-block;
    font-size: 20px;
    padding-left: 15px;
} 
 /*List-page!!!!*/
 .event.list-group-item {
     margin-top: 15px;
     margin-bottom: 15px;
     margin-left:2%;
     margin-right:2%;
     border: 1px solid transparent;
     -webkit-box-shadow: 10px 10px 24px -2px rgba(148,148,148,1);
    -moz-box-shadow: 10px 10px 24px -2px rgba(148,148,148,1);
    box-shadow: 10px 10px 24px -2px rgba(148,148,148,1);
 }
.centerWrap{
    position: relative;
    display: block;
    width: 80%;
    margin: 0 auto;
}
.listBox{
    padding: 25px;
}
 .event-thumbnail {
     height: 350px;
     width: 100%;
     /*margin: 5px 5px 5px 5px;*/
 }
 .event-images{
     height: 150px;
     background-position-x: 65%;
     width: 100%;
     display: block;
     background-size: cover;
 }
 .flex-event-image {
     position: relative;
     height: 150px;
     width: 25%;
     display: inline-block;
     background-size: contain;

 }
.flex-event-text{
    float: right;
    width: 60%;
}

.right-left li{
    float: right;
}
.compressed {
    margin: 0;
    padding: 0;
}
.single-border {
    border: 4px solid darkgrey;
}
.single-right-buffer {
    margin-right: 4em;
}
.single-left-buffer {
    margin-left: 1em;
}
html, body {
    background-color: lightgrey
}
.psuedo-success{
    background-color: RGBA(92, 184, 92, 1.00);
    color: white;
}
.badge-info {
  background-color: #3a87ad;
  font-size: 1em;
  padding: 5px 10px;
  margin: 2px 5px;
  cursor: pointer;
}

.badgeBox{
    margin: 10px 0;
}

#basic-add{
    cursor: pointer;
}

#searchBar{
    position: relative;
    display: block;
    background-color: white;
    margin-top: -10px;
    padding: 25px;
}

#searchTab{
    color: Blue;
    position: absolute;
    top: -30px;
    left: 15%;
    padding: 5px;
    background-color: white;
}

.pad-sm-top{
    margin-top: 15px;
}
.pad-lg-top{
    margin-top: 30px;
}
.nav {
    background-color: white;
    width: 100%;
}
.navbar-brand .navbar-default>.navbar-nav>.active>a, .navbar-brand .navbar-default .navbar-nav>.active>a:focus, .navbar-brand .navbar-default .navbar-nav>.active>a:hover {
    background-color: white;
}
.navbar-brand img{
    margin-top:-8px;
    vertical-align: top;
}
nav{
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
