#map{
    height: 200px;
}
.content-wrapper{
    width: 100%;
    max-width: 1440px;
    display: block;
    margin: 0 auto;
}
#heroImg{
    width: 100%;
}
#startDate, #endDate{
   width : 177px;
 }

#input-select {
    width: 37px; 
    height: 34px;
    float: left;
 }

 /*List-page!!!!*/

 .event-thumbnail {
     height: 300px;
     width: 300px;
 }
 .event-images{
     height: 150px;
     width: 100%;
     display: block;
     background-size: contain;
 }