<!--<form ng-submit="save()">-->
<div class="container">
    <div class="page-header">
        <h1>Create an Event</h1>
    </div>
    <form ng-submit="save()" class="my-form">

        <div class="well well-lg col-sm-6 col-sm-offset-3">
    <!-- Form group for event, sum, and desc -->
            <div class="row panel panel-default panel-body form-group">
                <span class="cartEmblem">1</span><h1 class="panel-title">Event Name:</h1>    
                    <br>
                    <input ng-model="event.title" class="col-sm-12 form-rounded" type="text" name="title" required><br><br>
                
                <h1 class="panel-title">Summary:</h1>
                    <br>
                    <textarea ng-model="event.summary" class="col-sm-12 form-rounded" type="text" name="summary" required></textarea>
                    
                <h1 class="panel-title">Description:</h1>
                    <br>
                    <textarea ng-model="event.description" class="col-sm-12 form-rounded" type="text" name="description" required></textarea>
            </div>

    <!-- Form group for address, city, state, zip -->
            <div class="row panel panel-default panel-body form-group">
                <form class="form-inline">
                    <span class="cartEmblem">2</span><h1 class="panel-title">Event Address:</h1><br>
                    <input ng-model="event.address1" class="col-sm-6 form-rounded" type="text" name="address1" placeholder="Address 1:">
                    <input ng-model="event.address2" class="col-sm-6 form-rounded" type="text" name="address2" placeholder="Address 2:"><br><br>
                </form>
                <form class="form-inline">
                    <input ng-model="event.city" class="col-sm-4 form-rounded" type="text" name="city" placeholder="City:">
                    <input ng-model="event.state" class="col-sm-4 form-rounded" type="text" name="state" placeholder="State:">
                    <input ng-model="event.zip" class="col-sm-4 form-rounded" type="text" name="zip" placeholder="Zipcode:">
                </form>
            </div>

    <!-- Form group for image, ticket, ticketsUrl, eventUrl -->
            <div class="row panel panel-default panel-body form-group">
                <span class="cartEmblem">3</span><h1 class="panel-title">Image:</h1>
                    <br>
                    <input ng-model="event.images" class="col-sm-12 form-rounded" type="text" name="image"><br><br>
                
                <h1 class="panel-title">Tickets:<span class="glyphicon glyphicon-info-sign" aria-hidden="true" data-toggle="popover" data-placement="right" title="<p>Will the event require a ticket to enter?</p>" data-html="true"></span></h1>
                    <br>
                    <label class="radio-inline">
                        <input ng-model="event.tickets" type="radio" name="ticket" value="1">Yes
                    </label>
                    <label class="radio-inline">
                        <input ng-model="event.tickets" type="radio" name="ticket" value="0">No
                    </label><br><br>

                <h1 class="panel-title">Ticket URL:</h1>
                    <br>
                    <input ng-model="event.ticketUrl" class="col-sm-12 form-rounded" type="text" name="ticketurl"><br><br>
                
                <h1 class="panel-title">Event URL:</h1>
                    <br>
                    <input ng-model="event.eventUrl" class="col-sm-12 form-rounded" type="text" name="eventurl"><br>
            </div>

    <!-- Form group for all of the radios -->
            <div class="row panel panel-default panel-body form-group">
                <span class="cartEmblem">4</span><h1 class="panel-title">Pet Friendly:<span class="glyphicon glyphicon-info-sign" aria-hidden="true" data-toggle="popover" data-placement="right" title="<p>Will the event allow attendees to bring their pet?</p>" data-html="true"></span></h1>
                    <br>
                    <label class="radio-inline">
                        <input ng-model="event.petFriendly" type="radio" name="pet" value="1">Yes
                    </label>
                    <label class="radio-inline">
                        <input ng-model="event.petFriendly" type="radio" name="pet" value="0">No
                    </label><br><br>
                
                <h1 class="panel-title">Family Friendly:<span class="glyphicon glyphicon-info-sign" aria-hidden="true" data-toggle="popover" data-placement="right" title="Will the event have a family atsmosphere and/or be suitable for children?" data-html="true"></span></h1>
                    <br>
                    <label class="radio-inline">
                        <input ng-model="event.familyFriendly" type="radio" name="family" value="1">Yes
                    </label>
                    <label class="radio-inline">
                        <input ng-model="event.familyFriendly" type="radio" name="family" value="0">No
                    </label><br><br>

                <h1 class="panel-title">Smoke Free:</h1>
                    <br>
                    <label class="radio-inline">
                        <input ng-model="event.smokeFree" type="radio" name="smokefree" value="1">Yes
                    </label>
                    <label class="radio-inline">
                        <input ng-model="event.smokeFree" type="radio" name="smokefree" value="0">No
                    </label><br><br>

                <h1 class="panel-title">Alcohol Free</h1>
                    <br>
                    <label class="radio-inline">
                        <input ng-model="event.alcoholFree" type="radio" name="alcoholfree" value="1">Yes
                    </label>
                    <label class="radio-inline">
                        <input ng-model="event.alcoholFree" type="radio" name="alcoholfree" value="0">No
                    </label><br><br>
                
                <h1 class="panel-title">Event Setting:<span class="glyphicon glyphicon-info-sign" aria-hidden="true" data-toggle="popover" data-placement="right" title="<p>Will the event be an outdoor or indoor event?</p>" data-html="true"></span></h1>
                    <br>
                    <label class="radio-inline">
                        <input ng-model="event.outdoors" type="radio" name="eventsetting1" value="1">Outdoor
                    </label>
                    <label class="radio-inline">
                        <input ng-model="event.outdoors" type="radio" name="eventsetting2" value="0">Indoor
                    </label><br><br>

                <h1 class="panel-title">Time of Day:<span class="glyphicon glyphicon-info-sign" aria-hidden="true" data-toggle="popover" data-placement="right" title="<p>Will the event during the day or night?</p>" data-html="true"></span></h1>
                    <br>
                    <label class="radio-inline">
                        <input ng-model="event.daytime" type="radio" name="eventtime1" value="1">Day
                    </label>
                    <label class="radio-inline">
                        <input ng-model="event.daytime" type="radio" name="eventtime2" value="0">Night         
                    </label><br><br>

                <h1 class="panel-title">Cost:<span class="glyphicon glyphicon-info-sign" aria-hidden="true" data-toggle="popover" data-placement="right" title="<h6>Event Costs:</h6><ul><li>$ = $1-$20</li><li>$$ = $21-$50</li><li>$$$ = $50+</li></ul" data-html="true"></span></h1>
                    <br>              
                    <label class="radio-inline">
                        <input ng-model="event.cost" type="radio" name="cost" value="0">Free
                    </label>
                    <label class="radio-inline">
                        <input ng-model="event.cost" type="radio" name="cost" value="1"><span class="glyphicon glyphicon-usd" aria-hidden="true"></span>
                    </label>
                    <label class="radio-inline">
                        <input ng-model="event.cost" type="radio" name="cost" value="2"><span class="glyphicon glyphicon-usd" aria-hidden="true"></span><span class="glyphicon glyphicon-usd" aria-hidden="true"></span>
                    </label>
                    <label class="radio-inline">
                        <input ng-model="event.cost" type="radio" name="cost" value="3"><span class="glyphicon glyphicon-usd" aria-hidden="true"></span><span class="glyphicon glyphicon-usd" aria-hidden="true"></span><span class="glyphicon glyphicon-usd" aria-hidden="true"></span>
                    </label><br><br>

                <h1 class="panel-title">18+<span class="glyphicon glyphicon-info-sign" aria-hidden="true" data-toggle="popover" data-placement="right" title="<p>Will the event have a minimum age of 18?</p>" data-html="true"></span></h1>
                    <br>
                    <label class="radio-inline">
                        <input ng-model="event.isEighteen" type="radio" name="age18" value="1">Yes
                    </label>
                    <label class="radio-inline">
                        <input ng-model="event.isEighteen" type="radio" name="age18" value="0">No
                    </label><br><br>

                <h1 class="panel-title">21+<span class="glyphicon glyphicon-info-sign" aria-hidden="true" data-toggle="popover" data-placement="right" title="<p>Will the event have a minimum age of 21?</p>" data-html="true"></span></h1>
                    <br>
                    <label class="radio-inline">
                        <input ng-model="event.isTwentyOne" type="radio" name="age21" value="1">Yes
                    </label>
                    <label class="radio-inline">
                        <input ng-model="event.isTwentyOne" type="radio" name="age21" value="0">No
                    </label><br>
            </div>

    <!-- Form group for event times -->
            <div class="row panel panel-default panel-body form-group">
                <span class="cartEmblem">5</span><h1 class="panel-title">Event Start Date & Time:<span class="glyphicon glyphicon-info-sign" aria-hidden="true" data-toggle="popover" data-placement="right" title="<h6>Format Example:</h6><p>12/25/2017 09:30 PM" data-html="true"></span></h1>
                    <br>
                    <div class="container">
                        <div class="row">
                            <div class='col-sm-6'>
                                <div class="form-group">
                                    <div class='input-group date' id='datetimepicker1'>
                                        <input ng-model="event.startDate" id="startDate" type='text' class="form-control form-rounded" />
                                        <span class="input-group-addon" id="input-select">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
            <h1 class="panel-title">Event End Date & Time:<span class="glyphicon glyphicon-info-sign" aria-hidden="true" data-toggle="popover" data-placement="right" title="<h6>Format Example:</h6><p>12/25/2017 09:30 PM" data-html="true"></span></h1>
                <br>
                <div class="container">
                    <div class="row">
                        <div class='col-sm-6'>
                            <div class="form-group">
                                <div class='input-group date' id='datetimepicker2'>
                                    <input ng-model="event.endDate" id="endDate" type='text' class="form-control form-rounded" />
                                    <span class="input-group-addon" id="input-select">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Start Date & Time:
            <span class="glyphicon glyphicon-info-sign" aria-hidden="true" data-toggle="popover" data-placement="right" title="<h6>Format Example:</h6><p>12/25/2017 09:30 PM" data-html="true"></span><br>
            <input ng-model="event.startDate" type="datetime-local" name="startdate" value=""><br>
        
            End Date & Time:
            <span class="glyphicon glyphicon-info-sign" aria-hidden="true" data-toggle="popover" data-placement="right" title="<h6>Format Example:</h6><p>12/25/2017 09:30 PM" data-html="true"></span><br>
            <input ng-model="event.endDate" type="datetime-local" name="enddate" value=""><br> -->
            
    <!-- Form group for user and status -->
            <div class="row panel panel-default panel-body form-group">
                <h1 class="panel-title">User Id:<span class="glyphicon glyphicon-info-sign" aria-hidden="true" data-toggle="popover" data-placement="right" title="Input '1' until we set up prerender and passport" data-html="true"></span></h1>
                    <br>
                    <input ng-model="event.userId" type="number" value="1"><br>
            
                <h1 class="panel-title">Status:<span class="glyphicon glyphicon-info-sign" aria-hidden="true" data-toggle="popover" data-placement="right" title="Input '1' until we set up prerender and passport" data-html="true"></span></h1>
                    <br>
                    <input ng-model="event.status" type="number" value="1"><br>
            
                <input type="submit" value="Submit">
            </div>
        </div>
    </form>
</div>