<div>
    <img id="heroImg" src="/img/lookouts_hor.jpg">
    <div id='searchBar'>
        <div id="searchTab">TRY SOMETHING NEW</div>
        <div class="form-inline col-sm-offset-1">
            <div class="form-group">
                <input ng-model="searchItems.tags" type="text" class="form-control" placeholder="Event tags: sererate tags with ;">
            </div>
            <select class="col-sm-offset-1" ng-options="cat.id as cat.name for cat in cats" ng-model="search.genre"></select>
            <div class="input-group input-daterange col-sm-offset-1 col-sm-4">
                <input type="text" class="form-control" id="startDate" ng-model="search.start">
                <div class="input-group-addon">to</div>
                <input type="text" class="form-control" id="endDate" ng-model="search.end">
            </div>
            <div ng-click="searchBtn()" class="btn btn-primary pull-right">Search</div>
            <a class="pull-right advBtn" href="#" ng-click="advanced=!advanced">Advanced Search</a>
        </div>
        <div ng-show="advanced===true">
            <div class="form-inline row pad-sm-top col-sm-offset-1">
                <div class="checkbox col-sm-2">
                    <label><input type="checkbox" ng-model="searchItems.petFriendly">  Pet Friendly</label>
                </div>
                <div class="checkbox col-sm-2">
                    <label><input type="checkbox" ng-model="searchItems.familyFriendly">  Family Friendly</label>
                </div>
                <div class="checkbox col-sm-2">
                    <label><input type="checkbox" ng-model="searchItems.smokeFree">  Smoke Free</label>
                </div>
                <div class="checkbox col-sm-2">
                    <label><input type="checkbox" ng-model="searchItems.alcoholFree">  Alcohol Free</label>
                </div>
            </div>
            <div class="form-inline row pad-sm-top col-sm-offset-1">
                <div class="checkbox col-sm-1">
                    <label><input type="checkbox" ng-model="searchItems.isEighteen">  18+</label>
                </div>
                <div class="checkbox col-sm-1">
                    <label><input type="checkbox" ng-model="searchItems.isTwentyOne">  21+</label>
                </div>
                <div class="checkbox col-sm-2">
                    <label><input type="checkbox" ng-model="searchItems.outdoors">  Outdoor Event</label>
                </div>
                <div class="checkbox col-sm-2">
                    <label><input type="checkbox" ng-model="searchItems.daytime">  Daytime Event</label>
                </div>
            </div>
            <div class="form-inline row pad-sm-top col-sm-offset-1">
                <div class="checkbox col-sm-1">
                    <label><input type="checkbox" ng-model="searchItems.priceFree">  Free</label>
                </div>
                    <div class="checkbox col-sm-1">
                    <label><input type="checkbox" ng-model="searchItems.priceOne">  $</label>
                </div>
                    <div class="checkbox col-sm-1">
                    <label><input type="checkbox" ng-model="searchItems.priceTwo">  $$</label>
                </div>
                    <div class="checkbox col-sm-1">
                    <label><input type="checkbox" ng-model="searchItems.priceThree">  $$$</label>
                </div>
            </div>
        </div>
    </div>
</div>

    <google-maps id="mainMap" events="events"></google-maps>

<!-- <flex-slider slide="e in events track by index">
	            <li>    
                    <div class="thumbnail image-thumbnail">
                    <div class="flex-event-image" ng-style="{ 'background-image': 'url(' + e.images + ')' }" class="thumbnail image-thumbnail">
                        <a class="btn btn-info" role="button" ng-href="/events/{{ e.id }}">View Event</a>
                    </div>
                    <div class="flex-event-text">
		            <h4>{{ e.title }}</h4>
                    <p>{{ e.summary }}</p>
                    <h5>{{ e.startDate | date: 'short' }}</h5>
                    </div>
                    </div>
                </li>
</flex-slider> -->
<div class="centerWrap">
    <div class="clear list-group container listBox">
        <div class="row">
            <div class="list-group-item form-rounded event col-xs-12 col-md-3 col-md-offset-1" ng-repeat="e in events | searchFilter:search">
                <a ng-href="/events/{{e.id}}">
                    <div class="event-thumbnail" class="thumbnail image-thumbnail">
                        <div class="event-images" ng-style="{ 'background-image': 'url(' + e.images + ')' }" class="thumbnail image-thumbnail">
                            <a class="btn btn-info" role="button" ng-href="/events/{{ e.id }}">View Event</a>
                        </div>
                        <div>
                            <h4>{{ e.title }}</h4>
                            <p>{{ e.summary }}</p>
                            <h5>{{ e.startDate | date: 'short' }}</h5>
                        </div>
                    </div>
                </a>
            </div>
        </div> 
    </div> 
