<div class="jumbotron">
    
</div>

<div class="container-fluid">
    <img id="heroImg" src="/img/lookouts_hor.jpg">
    <div class="page-header row">
        <h1 class="col-sm-10 col-xs-12">Events</h1>
    </div>
</div>
<div id="map"></div>
<flex-slider slide="e in events track by $index">
	<li>
		<h2>{{ e.title }}</h2>
        <h4>{{ e.summary }}</h4>
        <h5>{{ e.startDate | date: 'short' }}</h5>
        <p><a class="btn btn-info" role="button" ng-href="/events/{{ e.id }}">View Event</a></p>
	</li>
</flex-slider>

 <div class="clear list-group container">
     <div class="row">
        <div class="list-group-item col-xs-12 col-md-4 col-sm-8" ng-repeat="e in events">
            <a ng-href="/events/{{e.id}}">
                <div class="event-thumbnail" class="thumbnail image-thumbnail">
                    <div class="event-images" ng-style="{ 'background-image': 'url(' + e.images + ')' }" class="thumbnail image-thumbnail">
                        <a class="btn btn-info" role="button" ng-href="/events/{{ e.id }}">View Event</a>
                    </div>
                    <div>
                        <h4>{{ e.title }}</h4>
                        <p>{{ e.summary }}</p>
                        <h5>{{ e.startDate | date: 'short' }}</h5>
                    </div>
                </div>
            </a>
        </div>
    </div> 
</div> 
