<br>
<br>
<form ng-submit="login()">
<div class="col-sm-6 col-sm-offset-3">
     <div class="row panel panel-primary form-group">
                <div class="panel-heading"><h1 class="panel-title"><span class="badge">1</span>  Login Credentials</h1></div>
                <div class="panel-body">
  <div class="form-group">
    <label for="email">Email address:</label>
    <input ng-model="event.email" type="email" class="form-control" id="email">
  </div>
  <div class="form-group">
    <label for="pwd">Password:</label>
    <input ng-model="event.password" type="password" class="form-control" id="pwd">
  </div>
  <div class="checkbox">
    <label><input type="checkbox"> Remember me</label>
  </div>
  <button type="submit" class="btn btn-success" value="Login">Login</button>
  </div>
</div>
</div>

</form>