<!-- Add a view for displaying a single event. Should display all event details
and a google map. -->

<div class="container event-list">
    
    <div class="event-image">
        <img src="{{ event.imageUrl }}">
        <div class="event-info">

           
            <h2>{{ event.title }}</h2>
            <h3>{{ event.startDate | date: 'short' }}</h3>
            <h3>{{ event.endDate | date: 'short' }}</h3>
             <h4 class="price">{{ event.cost | currency }}</h4>
            <ul>
                <li>{{ event.tickets}}</li>
                <li>{{ event.ticketsUrl }}</li>
                <li>{{ event.eventUrl }}</li>
                <li>{{ event.petFriendly | yesNo }}</li>
                <li>{{ event.familyFriendly }}</li>
                <li>{{ event.smokeFree }}</li>
                <li>{{ event.alcoholFree }}</li>
                <li>{{ event.outdoors }}</li>
                <li>{{ event.daytme }}</li>
                <li>{{ event.isEighteen }}</li>
                <li>{{ event.isTwentyOne }}</li>
                <li>{{ event.status }}</li>
            </ul>

            <p>{{ event.description }}</p>
          
             <button type="button">Interested</button>
            <button type="button">Definitely Going!</button>
        </div>
    </div>
</div>